body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15%;
}
.container{
    display: flex;
    flex-direction: row;
}
.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 7%;
    height: 937px;
    background-color: #FFC297;
}
.mtop li{
    padding-bottom: 100%;
    text-align: center;
}
.st{
    background-color: #FF7008;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 10%;
}
.menu-text{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 1px solid black;
}
.menu-text ul li{
    padding-bottom: 30%;
    font-size: 18.5px;
}
.item1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.top-ct{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 5%;
}
.form-pf{
    width: 80%;
    padding-left: 10%;
}
.name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5%;
}
label{
    font-size: 26px;
}
input{
    width: 100%;
    margin-bottom: 3%;
    font-size: 20px;
    height: 40px;
}
.city{
    display: inline-block;
    width: 100%;
}
select{
    height: 50px;
    width: 40%;
    font-size: 20px;
}
.btn{
    margin-top: 3%;
}
.btn button{
    width: 20%;
    height: 36px;
    outline: none;
    border: 0.5px solid;
    border-radius: 5px;
}
.cancle{
    border-color: #FF7008;
    background-color: #ffffff;
    color: #FF7008;

}
.save{
    background-color: #FF7008;
    color: #ffffff;
    border-color: #FF7008;

}
.valida{
    position: relative;

}
.valida i{
    position: absolute;
    color: white;
    top: 14%;
    right: 0;
    background-color: #23B000;
    border-radius: 5px;
    padding: 0.5%;
}
.btn{
    transition-duration: 1s;
}
.btn button:hover{
    transform: scale(1.2);
}
@media only screen and (max-width : 390px) {
    .main-menu{
        width: 15%;
        height: 844px;
    }
    .st{
        border-radius: 50%;
        padding: 5px;
    }
    .avt svg{
        width: 85%;
        /* border-color:ini ; */
    }
    .st{
        border-radius: 50%;
        padding: 1%;
        margin-bottom: 10%;
    }
    .st svg{
        width: 100%;
    }
    .menu-text{
        display: none;
    }
    .name{
        flex-wrap: wrap;
    }
    .form-pf select{
        width: 100%;
    }
    .btn button{
        width: 49%;
        height: 36px;
        outline: none;
        border: 0.5px solid;
        border-radius: 5px;
    }
}